<div class="container">
    <h2>Car List</h2>
  
    <div *ngIf="cars.length === 0" class="no-cars-message">
        No cars available.
    </div>
  
    <table *ngIf="cars.length > 0" class="car-table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Mileage</th>
                <th>Price</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars" class="car-item">
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.mileage }}</td>
                <td>{{ car.price }}</td>
                <td>
                    <button id="delete" class="delete-button" (click)="deleteCar(car.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
