.car-table {
  width: 100%; /* Set table width to fill its container */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
}

.car-table th,
.car-table td {
  padding: 12px; /* Add padding for cells */
  border-bottom: 1px solid #ddd; /* Add bottom border for rows */
  text-align: left; /* Align text to the left */
}

.car-table th {
  background-color: #f2f2f2; /* Set background color for header row */
}

.car-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.car-table tbody tr:hover {
  background-color: #ddd; /* Change background color on hover */
}


  .delete-button {
    background-color: #ff2600; /* Coral */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  